In [1]:
mystring='hello world'

In [2]:
mystring

'hello world'

In [11]:
mystring.title()

'Hello World'

In [12]:
mystring.capitalize()

'Hello world'

In [4]:
print(mystring[8])

r

In [5]:
'hello world'[8]

'r'

In [1]:
str1='abcder'

In [2]:
str1.upper()

'ABCDER'

In [3]:
str1.lower()

'abcder'

In [11]:
str1.split()

['abcder']

In [2]:
2**38

274877906944

In [6]:
str1=''

In [7]:
len(str1)

0

In [1]:
str

str

In [4]:
nums=[num for num in range(0,51) if num%3==0]

In [5]:
nums

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [6]:
st = 'Print every word in this sentence that has an even number of letters'
st.split()

['Print',
 'every',
 'word',
 'in',
 'this',
 'sentence',
 'that',
 'has',
 'an',
 'even',
 'number',
 'of',
 'letters']

In [7]:
st

'Print every word in this sentence that has an even number of letters'

In [8]:
len(st.split())

13

In [9]:
str2=st.split()

In [10]:
str2

['Print',
 'every',
 'word',
 'in',
 'this',
 'sentence',
 'that',
 'has',
 'an',
 'even',
 'number',
 'of',
 'letters']

In [11]:
str2[0]

'Print'

In [122]:
str2[:2]+str2[1]

'a  '

In [12]:
len(str2[0])

5

In [13]:
for i in range(len(str2)):
    if len(str2[i])%2==0:
        print('even')

even
even
even
even
even
even
even
even
even

In [17]:
#for i in range(1,101):
#    if i%3 == 0 and i%5!=0:
#        print('Fizz')
#    elif i%5==0 and i%3!=0:
#        print('Buzz')
#    elif  i%15==0:
#        print('FizzBuzz')
#    else:
#        print(i)

In [2]:
st = 'Create a list of the first letters of every word in this string'

In [3]:
str1=[st.split()[word][0] for word in range(len(st.split()))]

In [4]:
str1

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [5]:
st1='HELLOS'

In [6]:
st1.lower()

'hellos'

In [14]:
st2=[]
for i in  range(len(st1)-1):
    if i%2==0:
        st2.append(st1[i].upper())

In [15]:
st2

['H', 'L', 'O']

In [11]:
st1[1].lower()

'e'

In [16]:
st2

['H', 'L', 'O']

In [17]:
st1

'HELLOS'

In [28]:
string1='hellos'
string2='oooooo'
type (string2)

str

In [42]:
string2=strin1[:3].upper()
string2

'HEL'

In [45]:
str3=strin1[1]+string2[2]
str3

'eL'

In [75]:
def myfunc(str1):
    str1.lower()
    #print('the word enteres is: ' + str1.lower())
    str2=str1[0].lower()
    for i in range(1,len(str1)):
        if i%2!=0:
            str2=str2+str1[i].upper()
        else:
            str2=str2+str1[i].lower()
    return str2

In [77]:
word='BGAnamorphism'

In [79]:
myfunc(word)

'bGaNaMoRpHiSm'

In [ ]:
nums=[1,3,3,2]

In [2]:
#level 2 function practice problems
'''returns true if 3 is repeated'''
def has_33(arr):
    flag= False
    for i in  range(len(arr)-1):
        if arr[i]==3 and arr[i+1]==3:
            flag= True
    return flag

In [4]:
nums=[1,3,2,25,2,3,3,1,4,6,7]

has_33(nums)

True

In [92]:
def paperdoll(text):
    word=''
    for i in  range(len(text)):
        word=word+text[i]*3
    
    return word

In [96]:
test='Hello'
paperdoll('pas')

'pppaaasss'

In [97]:
def blackjack(a,b,c):
    sum1=a+b+c
    if sum1<=21:
        return sum1
    elif a==11 or b==11 or c==11:
        return sum1-10
    else:
        return 'Bust'

In [98]:
blackjack(1,3,5)

9

In [99]:
blackjack(9,9,9)

'Bust'

In [100]:
blackjack(9,9,11)

19

In [46]:
#summer69
def summer69(arr):
    sum1=0
    flag1= False
    #flag2= False    
    
    for i in range(len(arr)):
        if arr[i]==6:
            flag1=True
            index1=i
            break
    
    if flag1:
        for k in range(index1,len(arr)):
            if arr[k]==9:
                index2=k
        for j in range(len(arr)):
            if j<index1 or j>index2:
                sum1=sum1+arr[j]
    else:
        for n in range(len(arr)):
            sum1=sum1+arr[n]
            
    return sum1

In [47]:
arr1=[2,1,6,5,4,3,9,11]
summer69(arr1)

14

In [17]:
#funcs and methods homework
#upper and lower letter count
def up_low(s):
    upper=0
    lower=0
    wordlist=s.split()
    for i in range(len(wordlist)):
        for j in range(len(wordlist[i])):
            if wordlist[i][j]==wordlist[i][j].upper()and wordlist[i][j] not in ['.',',','?']:
                #print('upper is : ', wordlist[i][j])
                upper+=1
            elif wordlist[i][j]==wordlist[i][j].lower() and wordlist[i][j] not in ['.',',','?']:
                #print('lower is ',wordlist[i][j],' #',lower)
                lower+=1
            else:
                pass
    
    print('upper letters= ', upper)
    print('lower letters= ', lower)

In [18]:
up_low('Hello Mr.Rogers, how are you this fine Tuesday?')

upper letters=  4
lower letters=  33

In [27]:
def unique_list(lst):
    list2=set(lst)
    list3=[]
    for num in list2:
        list3.append(num)
    
    return list3

In [28]:
list1=[1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,5,5,5,5]
unique_list(list1)

[1, 2, 3, 4, 5]

In [29]:
def mutlt(nums):
    mult1=1
    for num in nums:
        mult1*=num
    return mult1

In [31]:
mutlt([1,2,3,-4,2,1])

-48

In [32]:
s='fart'

In [34]:
s[::-1]
print(s[::-1])

traf

In [36]:
def pali(st):
    return st==st[::-1]

In [38]:
pali('hellennh')

False

In [43]:
import string
len(string.ascii_lowercase)

26

In [44]:
def ispangram(str1,alphabet=string.ascii_lowercase):
    flag= 0
    str2=str1.split()
    print('str2 =',str2 )
    for word in str2:
        for letter in word:
            if letter.lower()  in alphabet:
                flag+=1
    print (flag)
    return flag>=26

In [45]:
#str1='The quick brown fox jumps over the lazy dog'
str1='Pack my box with five dozen liquor jugs'
str2='a b c d e r g t y u j m'
ispangram(str2)

str2 = ['a', 'b', 'c', 'd', 'e', 'r', 'g', 't', 'y', 'u', 'j', 'm']
12

False

In [220]:
k1={'a':1,'b':2,'c':3,'d':4,'e':5,'f':6,'g':7,'h':8,'i':9,'j':10,'k':11,'m':12,'n':13,'l':14,'o':15,'p':16,'q':17,'r':18,'s':19,'t':20,'u':21,'v':22,'w':23,'x':24,'y':25,'z':26}

In [221]:
'''
for key, value in inputdict.items():
    # do something with value
    inputdict[key] = newvalue
'''

'\nfor key, value in inputdict.items():\n    # do something with value\n    inputdict[key] = newvalue\n'

In [222]:
k1.values()

dict_values([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26])

In [223]:
k1.keys()

dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'm', 'n', 'l', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'])

In [224]:
str="hello"

In [225]:

k1[str[0]] # 'h':8

8

In [226]:
if str[3] in k1.keys():
    print(str[3] + ' is in string')
else:
    print(str[3] + ' not in string')

l is in string

In [1]:
num_arr=[]
for i  in range(1,27):
    num_arr.append(i)

In [2]:
num_arr

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26]

In [229]:
def rotate_nums(num_arr):
    swap=num_arr[0]
    for i in range(0,25):
        num_arr[i]=num_arr[i+1]
    
    num_arr[25]=swap

In [230]:
rotate_nums(num_arr)
num_arr

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 1]

In [231]:
d = {'x': 2}

d.update(y = 3, z = 0)
print(d)

{'x': 2, 'y': 3, 'z': 0}

In [232]:
import string
import pdb
abc=string.ascii_lowercase

In [233]:
abc

'abcdefghijklmnopqrstuvwxyz'

In [234]:
list(abc)

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [235]:
k2={'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'}

In [236]:
list1= zip(list(abc),num_arr)

In [237]:
k3=dict(list1)

In [238]:
k3.items()

dict_items([('a', 2), ('b', 3), ('c', 4), ('d', 5), ('e', 6), ('f', 7), ('g', 8), ('h', 9), ('i', 10), ('j', 11), ('k', 12), ('l', 13), ('m', 14), ('n', 15), ('o', 16), ('p', 17), ('q', 18), ('r', 19), ('s', 20), ('t', 21), ('u', 22), ('v', 23), ('w', 24), ('x', 25), ('y', 26), ('z', 1)])

In [239]:
k3.values()

dict_values([2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 1])

In [240]:
k3.keys()

dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'])

In [241]:
k3k=list(k3.keys())

k3v=list(k3.values())

In [242]:
print(k3k)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [243]:
print(k3v)

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 1, 2, 3]

In [244]:
def str_encode(str1):
    numb_arr=[]
    space_indx=[]
    '''
   enocoding each letter to a number, space is encoded as 0, returns an array of numbers / values from  k1
    '''
   
    for j in range(len(str1)):
        if str1[j]==' ':
            numb_arr.append(0)
        if str1[j] in k1.keys():
            numb_arr.append(k1[str1[j]])
            
    return numb_arr

In [258]:
letter_arr=list(k1.keys())
len(letter_arr)

26

In [267]:
def decode_num(num_arr):    
    str2=''
    
        
    for i in range(len(num_arr)):
        if num_arr[i]==0:
            str2+=' '
        else:
            str2+=letter_arr[num_arr[i]-1]
            
    return str2

In [268]:
str1='hola fart'
num_arr=str_encode(str1)

In [6]:
num_arr

NameError: name 'num_arr' is not defined

In [270]:
decode_num(num_arr)

'hola fart'

In [20]:
str1='abcftreyoul'
list1=[]
for letter in str1:
    list1.append(letter)
    
list1.pop(1)
str2=''
for l in list1:
    str2+=l
    
print(str2)
print(str2[-1]+str2[1:len(str2)-1]+str2[0])

acftreyoul
lcftreyoua

In [31]:
str3='hixxhi'
str4=str3[len(str3)-2:len(str3)]
print(str4)

hi

In [55]:
'''Coding bat -Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere.


array123([1, 1, 2, 3, 1]) → True
array123([1, 1, 2, 4, 1]) → False
array123([1, 1, 2, 1, 2, 3]) → True '''

nums=[1,2,3]
main_arr= [4,1,2,3,6,7]

nums_arr=''
arr2=''
for i in range(len(nums)):
    nums_arr+=str(nums[i])
    
for j in range(len(main_arr)):
    arr2+=str(main_arr[j])
    
print(nums_arr ,' of type ',type(nums_arr))
print(arr2,' of type ',type(arr2))

print(nums_arr in arr2)

123  of type  <class 'str'>
412367  of type  <class 'str'>
True

In [44]:
print(array123(nums))

False

In [4]:
'''coding bat - Given 2 strings, a and b, 
return the number of the positions where they contain the same length 2 substring.
So "xxcaazz" and "xxbaaz" yields 3, since the "xx", "aa",
and "az" substrings appear in the same place in both strings.

string_match('xxcaazz', 'xxbaaz') → 3
string_match('abc', 'abc') → 2
string_match('abc', 'axc') → 0  '''

a='aabbccdd'
b='abbbxxd'

print(a[:2])


def string_match(a,b):
    count=0
    for i in range(len(a)-1):
        str1=a[i:i+2]        
        for j in range(len(b)):
            str2=b[j:j+2]            
            if str1==str2 and i==j:
                count+=1                
    return count
            
    
print(string_match(a,b))

aa
1

In [47]:
def sum3(nums):
  sum1=nums[0]
  print('sum1= ',sum1)
  for i in range(1,len(nums)):
       sum1+=nums[i]
       print('sum1= ',sum1)
  return sum1

In [48]:
sum3([2,3,4])

sum1=  2
sum1=  5
sum1=  9

9

In [1]:
19%10

9

In [2]:
158%10

8

In [52]:
'''
We want to make a row of bricks that is goal inches long. 
We have a number of small bricks (1 inch each) and big bricks (5 inches each). 
Return True if it is possible to make the goal by choosing from the given bricks. 
This is a little harder than it looks and can be done without any loops. 
See also: Introduction to MakeBricks

'''
def make_bricks(small, big, goal):
    mod5=goal%5
    div5=int(goal/5)
    bigb=div5
    
    print('mod5= ',mod5,' div5=',div5)


    if div5>big :
        bigb=big
    
    if big==0:
        bigb=big
        
    print("bigb=",bigb)

    if mod5>small:
        return False
    elif mod5==0:
        return True
    elif bigb==0 and small<goal:
        return False
    else:
        sum=5*bigb
        smll=small-1
        while (sum<goal and smll>0):
            sum+=1
            smll-=1
            print('sum= ',sum,'  smll= ',smll)

        return sum==goal

In [53]:
make_bricks(7,1,13)

mod5=  3  div5= 2
bigb= 1
sum=  6   smll=  5
sum=  7   smll=  4
sum=  8   smll=  3
sum=  9   smll=  2
sum=  10   smll=  1
sum=  11   smll=  0

False

In [3]:
print(24%10)

4

In [4]:
def close_far(a, b, c):
  return (abs(a-b)<=1 and abs(a-c)>=2) or (abs(a-b)>=2 and abs(a-c)<=1)

In [5]:
close_far(1,2,3)

True

In [7]:
arr=[3,5,4,6]

In [8]:
arr.sort()

In [9]:
print(arr
     )

[3, 4, 5, 6]

In [11]:
def count_hi(str):
    count=0
    for i in range(len(str)-1):
        print(str[i:i+2])
        if 'hi' in str[i:i+2]:
            count+=1
            
    return count

In [12]:
count_hi('ABChi hi')

AB
BC
Ch
hi
i
 h
hi

2

In [33]:
def count_code(str):
    count=0
    for i in range(0,len(str)-3):
        print(str[i:i+2],' ',str[i+3])
        if 'co' in str[i:i+2] and 'e' in str[i+3]:            
            count+=1
    return count

In [34]:
count_code('codexxxcope')

co   e
od   x
de   x
ex   x
xx   c
xx   o
xc   p
co   e

2

In [75]:
def xyz_there(str):
    if len(str)<3:
        return False
    else:
        for i in range(len(str)):
            print(str[i:i+4])
            if '.xyz'==str[i:i+4] :
                print('here',str[i:i+4])
                return False
            elif 'xyz'==str[i:i+3]:
                    return True
            else:
                if 'xyz' not in str:
                    return False

In [77]:
xyz_there('abc.xyzxyz')

abc.
bc.x
c.xy
.xyz
here .xyz

False

In [32]:
a=[1, 1, 5, 5, 10, 8, 7]
a.sort()

In [33]:
a
a.pop()

a

[1, 1, 5, 5, 7, 8]

In [34]:
a.pop(0)
a

[1, 5, 5, 7, 8]

In [36]:
sum1=0
for i in range(len(a)):
    sum1+=a[i]
    
print(int(sum1/len(a)))

5

In [37]:
arr1=[[995635,260697],[210302,758037],[164208,721116]]

In [40]:
arr1[1][0]

210302

In [49]:
str1='hola'
str1.split()

['hola']

min(4,6,-2)

In [50]:
min(4,6,-2)

-2

In [1]:
max(5,6,11)

11

In [3]:
'''generators #84 '''
def cubes(n):
    for i in range(n):
        yield i**3

In [8]:
for j in cubes(9):
    print(j,end=' ')

0 1 8 27 64 125 216 343 512

In [5]:
lst=list(num for num in range(0,12,2))

In [6]:
lst

[0, 2, 4, 6, 8, 10]

In [7]:
''' calling the generator function gives the memory address'''
cubes(10)

In [9]:
'''next()'''
g = cubes(3)

In [10]:
type(g)

generator

In [11]:
print(next(g))

0

In [12]:
print(next(g))

1

In [13]:
print(next(g))

8

In [14]:
print(next(g))

StopIteration:

In [21]:
''' iter()  - use it to convert an not iterable object into iterators'''
s='farts'
s_iter=iter(s)
print(next(s))

TypeError: 'str' object is not an iterator

In [18]:
type(s_iter)

str_iterator

In [19]:
print(next(s_iter))

f

In [22]:
import numpy as np
from pandas import Series

def fibo(n):
    a=0
    b=1
    for i in range(n):
        yield a
        a,b = b,a+b

In [97]:
sr1=Series(fibo(20))

In [116]:
sr1

0        0
1        1
2        1
3        2
4        3
5        5
6        8
7       13
8       21
9       34
10      55
11      89
12     144
13     233
14     377
15     610
16     987
17    1597
18    2584
19    4181
dtype: int64

In [105]:
num1=2584
if num1 in sr1.values:
    indx =np.where(sr1 == num1)
else:
    print('not here')

In [107]:
int(indx[0])

18

In [112]:
indx[0][0]

18

In [1]:
f = 'sdfas,gggggg'

In [6]:
f2 = f.split(',')
f2

['sdfas', 'gggggg']